*{
    font-family: 'Gill Sans', sans-serif;
    background-color: #1E1E1E;
}

h1
{
    color: #FFFF00;
    font-size: 70;
    font-weight: bold;
    text-align: center;
}

h2
{
    color: #FFFFFF;
    font-size: 38;
    text-align: center;
    font-weight: bold;
}

h3
{
    color: #FFCC00;
    font-size: 38;
    text-align: center;
    font-weight: 400;
}

p
{
    color: #FFFFFF;
    font-size: 18;
    text-align: center;
    padding-left: 100;
    padding-right: 100;
}

div.page_header
{
    width: auto;
    height: 80;
    background-color: #BEBEB9;
}