*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222629;
}

h1
{
    color: #FFCC00;
    font-size: 32;
    font-weight: bold;
    text-align: center;
}

h2
{
    color: #FFFF;
    font-size: 24;
    text-align: center;
}

h3
{
    color: #FFBB00;
    font-size: 24;
    text-align: center;
    font-weight: 400;
}

p
{
    color: #F5F5F5;
    font-size: 18;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-left: 100;
    padding-right: 100;
}