*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1E1E1E;
}

div.page_header
{
    width: 2560;
    height: auto;
    text-align: left;
    background-color: #FFFFFF;
}

img.title_img
{
    overflow: hidden;
    max-width: 940;
    max-height: 630;
    margin-left: 1200;
    margin-top: -200;
    padding-left: 0%;
}

div.page_title
{
    color: #FFFF00;
    font-size: 38;
    font-weight: bold;
    text-align: center;
}

div.page_subtitle
{
    color: #FFFFFF;
    font-size: 30;
    text-align: center;
    font-weight: bold;
}

div.tip_one
{
    color: #FFCC00;
    font-size: 28;
    text-align: center;
    font-weight: 400;
    padding-right: 60%;
    padding-left: 5%;
}
div.p_1
{
    color: #FFFFFF;
    font-size: 18;
    text-align: center;
    padding-right: 60%;
    padding-left: 5%;
}

div.tip_two
{
    color: #FFCC00;
    font-size: 28;
    text-align: center;
    font-weight: 400;
}

div.tip_three
{
    color: #FFCC00;
    font-size: 28;
    text-align: center;
    font-weight: 400;
}

div.tip_four
{
    color: #FFCC00;
    font-size: 28;
    text-align: center;
    font-weight: 400;
}

div.tip_five
{
    color: #FFCC00;
    font-size: 28;
    text-align: center;
    font-weight: 400;
}

div.page_footer
{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #FFFFFF;
}